{{define "body"}}
<main role="main">

    <section class="jumbotron text-center" style="background-image:url(https://picsum.photos/200/300)">
        <div class="container" style="background-color: aliceblue">
            <h1 class="jumbotron-heading">Album example</h1>
            <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator,
                etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
            <p>
                <a href="/login" class="btn btn-primary my-2">Login Now!</a>
            </p>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row">
                {{range .Products}}
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                             xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
                             role="img" aria-label="Placeholder: Thumbnail">
                            <title>{{.Name}}</title>
                            <rect width="100%" height="100%" fill="url(#pat1)"></rect>
                            <pattern id="pat1" patternContentUnits="objectBoundingBox" width="100%" height="100%">
                                <image height="1" width="1" preserveAspectRatio="none"
                                       xlink:href="{{.Thumbnail}}"/>
                            </pattern>
                            <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                        </svg>
                        <div class="card-body">
                            <p class="card-text">{{.ProdDesc}}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div>
                                <small class="text-muted">${{.Price}}</small>
                            </div>
                        </div>
                    </div>
                </div>
                {{end}}
            </div>
        </div>
    </div>

</main>
{{end}}

{{define "styles"}}
{{end}}