{{define "checkout"}}
<div class="col-md-10 mx-auto">
    <div class="row">
        <div class="col-md-8 col-lg-8 order-md-last mx-auto">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-primary">Your cart</span>
                <span class="badge bg-primary rounded-pill">{{len .Cart.Contents}}</span>
            </h4>
            <ul class="list-group mb-3">
                {{range .Cart.Contents}}
                <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                        <h6 class="my-0">{{.Product.Name}}</h6>
                        <small class="text-muted">{{.Product.ProdDesc}}</small>
                    </div>
                    <span class="text-muted">{{.Count}}x</span>
                    <span class="text-muted">${{.Total .Count .Product.Price}}</span>
                </li>
                {{end}}
                <li class="list-group-item d-flex justify-content-between">
                    <span>Total (USD)</span>
                    <strong>{{.Cart.GrandTotal}}</strong>
                </li>
            </ul>
            <button id="checkout-button" class="w-100 btn btn-primary btn-lg" type="button">Continue to checkout
            </button>
        </div>




        </div>
    </div>
</div>
<script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
<script src="https://js.stripe.com/v3/"></script>
<script type="text/javascript">
    // Create an instance of the Stripe object with your publishable API key
    var stripe = Stripe("pk_test_51IpDYeGHtUrHHab9jQdpJC1DPMBSX59Hnc5l8h2bnrSqymyhCaihaOn8zMn94ewZcVKNjWKXQmnLkDq5VNPvDucQ000THTClZB");
    var checkoutButton = document.getElementById("checkout-button");
    checkoutButton.addEventListener("click", function () {
        fetch("/checkout", {
            method: "POST",
            body: "{{.JSON}}",
        })
            .then(function (response) {
                return response.json();
            })
            .then(function (session) {
                console.log(stripe)
                return stripe.redirectToCheckout({sessionId: session.id});
            })
            .then(function (result) {
                // If redirectToCheckout fails due to a browser or network
                // error, you should display the localized error message to your
                // customer using error.message.
                if (result.error) {
                    alert(result.error.message);
                }
            })
            .catch(function (error) {
                console.error("Error:", error);
            });
    });
</script>
{{end}}
{{define "styles"}}
<style>
    </style >
{{end}}