{{define "body"}}
<div>
    <input type="checkbox" id="toggleContainer">
    <div class="userContainer">
        <input type="checkbox" id="toggleUser">
        <section class="text-center">
            <div class="container">
                <label>User Login</label>
                <label id="psuedoLink" for="toggleContainer">Click here for Merchant Login</label>
            </div>
        </section>
        {{if $.ErrMsg}}
        <p>{{$.ErrMsg}}</p>
        {{end}}
        {{template "error"}}
        <div class="main login" style="padding:0px 20px 200px 300px;margin-left: 20%">
            <div class="col-md-6 col-sm-12">
                <div class="login-form" style="margin-top:30%">
                    <form class="formbox" method="POST" action="/login/user">

                        <div class="form-group">
                            <label>User Name</label>
                            <input name="username" type="text" class="form-control" placeholder="User Name">
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input name="password" type="password" class="form-control" placeholder="Password">
                        </div>
                        <button type="submit" class="btn btn-black">Login</button>
                        <label id="psuedoLink" for="toggleUser">No Account? Register First</label>
                    </form>
                </div>
            </div>
        </div>
        <div class="main register" style="padding:0px 20px 200px 300px;margin-left: 20%">
            <div class="col-md-6 col-sm-12">
                <div class="login-form" style="margin-top:30%">
                    <form class="formbox" method="POST" action="/users">
                        <div class="form-group">
                            <label>User Name</label>
                            <input name="username" type="text" class="form-control" placeholder="User Name">
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input name="email" type="email" class="form-control" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input name="pw1" type="password" class="form-control" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input name="pw2" type="password" class="form-control" placeholder="Password">
                        </div>
                        <button type="submit" class="btn btn-secondary">Register</button>
                        <label id="psuedoLink" for="toggleUser">Already have an account? Login Here</label>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="merchantContainer">
        <input type="checkbox" id="toggleMerchant">
        <section class="text-center">
            <div class="container">
                <label>Merchant Login</label>
                <label id="psuedoLink" for="toggleContainer">Click here for User Login</label>
            </div>
        </section>
        {{template "error"}}
        <div class="main login" style="padding:0px 20px 200px 300px;margin-left: 20%">
            <div class="col-md-6 col-sm-12">
                <div class="login-form" style="margin-top:30%">
                    <form class="formbox" method="POST" action="/login/merchant">

                        <div class="form-group">
                            <label>User Name</label>
                            <input type="text" class="form-control" placeholder="User Name">
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" class="form-control" placeholder="Password">
                        </div>
                        <button type="submit" class="btn btn-black">Login</button>
                        <label id="psuedoLink" for="toggleMerchant">No Account? Register First</label>
                    </form>
                </div>
            </div>
        </div>
        <div class="main register" style="padding:0px 20px 200px 300px;margin-left: 20%">
            <div class="col-md-6 col-sm-12">
                <div class="login-form" style="margin-top:30%">
                    <form class="formbox" method="POST" action="/merchants">
                        <div class="form-group">
                            <label>User Name</label>
                            <input type="text" class="form-control" placeholder="User Name">
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="password" class="form-control" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" class="form-control" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" class="form-control" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <input type="password" class="form-control" placeholder="Password">
                        </div>
                        <button type="submit" class="btn btn-secondary">Register</button>
                        <label id="psuedoLink" for="toggleMerchant">Already have an account? Login Here</label>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}

{{define "styles"}}
<style>
    .login {
        display: block
    }

    .register {
        display: none;
    }

    .userContainer {
        display: block;
    }

    .merchantContainer {
        display: none;
    }

    #toggleMerchant, #toggleContainer, #toggleUser {
        display: none;
    }

    #toggleMerchant:checked ~ .login, #toggleUser:checked ~ .login {
        display: none
    }

    #toggleMerchant:checked ~ .register, #toggleUser:checked ~ .register {
        display: block
    }

    #toggleContainer:checked ~ .merchantContainer {
        display: block;
    }

    #toggleContainer:checked ~ .userContainer {
        display: none;
    }

    #psuedoLink {
        cursor: pointer;
        text-decoration: underline;
        color: blue
    }

    error {
        display: none;
    }

    .image img {
        height: 100%;
        width: 100%;
    }
</style>
{{end}}