{{define "loginBody"}}

<input type="checkbox" id="toggleContainer">
<div class="userContainer text-center">
    <input type="checkbox" id="toggleUser">
    <main class="form-signin login">
        <form action="/login/user" method="post">
            <img class="mb-4" src="https://i.ibb.co/tMjjDyZ/android-chrome-512x512.png" alt="" width="150" height="150">
            <h1 class="h3 mb-3 fw-normal login">User Login</h1>
            <label id="psuedoLink" for="toggleContainer">Click here for Merchant</label>
            {{with .ErrMsg}}
            <p style="color:red;font-size: larger">{{.}}</p>
            {{end}}
            <div class="form-floating">
                <input name="username" type="text" class="form-control" id="floatingInput" placeholder="Username"
                       required>
                <label for="floatingInput">Username</label>
            </div>
            <div class="form-floating">
                <input name="password" type="password" class="form-control" id="floatingPassword" placeholder="Password"
                       required>
                <label for="floatingPassword">Password</label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
            <label id="psuedoLink" for="toggleUser">Not a User? Click here to Register</label>
            <p class="mt-5 mb-3 text-muted">© 2017–2021</p>
        </form>
    </main>
    <main class="form-signin register">
        <form action="/login/merchant" method="post">
            <img class="mb-4" src="https://i.ibb.co/tMjjDyZ/android-chrome-512x512.png" alt="" width="150" height="150">
            <h1 class="h3 mb-3 fw-normal login">User Registration</h1>
            <label id="psuedoLink" for="toggleContainer">Click here for Merchant</label>
            {{with .ErrMsg}}
            <p style="color:red;font-size: larger">{{.}}</p>
            {{end}}
            <div class="form-floating">
                <input name="username" type="text" class="form-control" id="floatingInput" placeholder="username"
                       required>

                <label for="floatingInput">Username</label>
            </div>
            <div class="form-floating">
                <input name="email" type="email" class="form-control" id="floatingInput" placeholder="abc@hotmail.com"
                       required>

                <label for="floatingInput">Email</label>
            </div>
            <div class="form-floating">
                <input name="pw1" type="password" class="form-control" id="floatingPassword" placeholder="Password"
                       required>
                <label for="floatingPassword">Password</label>
            </div>
            <div class="form-floating">
                <input name="pw2" type="password" class="form-control" id="floatingInput" placeholder="Password"
                       required>

                <label for="floatingInput">Password</label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Register</button>
            <label id="psuedoLink" for="toggleUser">Already Registered? Click here to Sign in</label>
            <p class="mt-5 mb-3 text-muted">© 2017–2021</p>
        </form>
    </main>
</div>
<div class="merchantContainer text-center">
    <input type="checkbox" id="toggleMerchant">
    <main class="form-signin login">
        <form action="/merchants" method="post">
            <img class="mb-4" src="https://i.ibb.co/tMjjDyZ/android-chrome-512x512.png" alt="" width="150" height="150">
            <h1 class="h3 mb-3 fw-normal login">Merchant Login</h1>
            <label id="psuedoLink" for="toggleContainer">Click here for User</label>
            {{with .ErrMsg}}
            <p style="color:red;font-size: larger">{{.}}</p>
            {{end}}
            <div class="form-floating">
                <input name="username" type="text" class="form-control" id="floatingInput" placeholder="username" required>

                <label for="floatingInput">Username</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password" required>
                <label for="floatingPassword">Password</label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
            <label id="psuedoLink" for="toggleMerchant">Not a User? Click here to Register</label>
            <p class="mt-5 mb-3 text-muted">© 2017–2021</p>
        </form>
    </main>
    <main class="form-signin register">
        <form action="/merchants" method="post">
            <img class="mb-4" src="https://i.ibb.co/tMjjDyZ/android-chrome-512x512.png" alt="" width="150" height="150">
            <h1 class="h3 mb-3 fw-normal login">Merchant Registration</h1>
            <label id="psuedoLink" for="toggleContainer">Click here for User</label>
            {{with .ErrMsg}}
            <p style="color:red;font-size: larger">{{.}}</p>
            {{end}}
            <div class="form-floating">
                <input name="username" type="text" class="form-control" id="floatingInput" placeholder="username"
                       required>

                <label for="floatingInput">Username</label>
            </div>
            <div class="form-floating">
                <input name="email" type="email" class="form-control" id="floatingInput" placeholder="abc@hotmail.com"
                       required>

                <label for="floatingInput">Email</label>
            </div>
            <div class="form-floating">
                <input name="pw1" type="password" class="form-control" id="floatingPassword" placeholder="Password"
                       required>
                <label for="floatingPassword">Password</label>
            </div>
            <div class="form-floating">
                <input name="pw2" type="password" class="form-control" id="floatingInput" placeholder="Password"
                       required>

                <label for="floatingInput">Password</label>
            </div>
            <div class="form-floating">
                <input name="MerchDesc" type="text" class="form-control" id="floatingInput"
                       placeholder="Merchant Description"
                       required>

                <label for="floatingInput">Product Description</label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Register</button>
            <label id="psuedoLink" for="toggleUser">Already Registered? Click here to Sign in</label>
            <p class="mt-5 mb-3 text-muted">© 2017–2021</p>
        </form>
    </main>
</div>

{{end}}

{{define "styles"}}
<style>
    .login {
        display: block
    }

    .register {
        display: none;
    }

    .userContainer {
        display: block;
    }

    .merchantContainer {
        display: none;
    }

    #toggleMerchant, #toggleContainer, #toggleUser {
        display: none;
    }

    #toggleMerchant:checked ~ .login, #toggleUser:checked ~ .login {
        display: none
    }

    #toggleMerchant:checked ~ .register, #toggleUser:checked ~ .register {
        display: block
    }

    #toggleContainer:checked ~ .merchantContainer {
        display: block;
    }

    #toggleContainer:checked ~ .userContainer {
        display: none;
    }

    #psuedoLink {
        cursor: pointer;
        text-decoration: underline;
        color: blue
    }

    error {
        display: none;
    }

    .image img {
        height: 100%;
        width: 100%;
    }

    .form-signin {
        width: 100%;
        max-width: 330px;
        padding: 15px;
        margin: auto;
    }
</style>
{{end}}