{{define "navbar"}}
{{$id := .Id}}
    <nav class="site-header sticky-top py-1" style="background-color:#FF3434">
        <div class="container d-flex flex-column flex-md-row justify-content-between">
            <a class="py-2" href="#">
                <img src="https://i.ibb.co/tMjjDyZ/android-chrome-512x512.png" height="30">
            </a>
            <a class="py-2 d-none d-md-inline-block" href="/" style="text-decoration: none;color:white;">Home</a>
            <a class="py-2 d-none d-md-inline-block" href="/merchants" style="text-decoration: none;color:white;">Merchants</a>
            <a class="py-2 d-none d-md-inline-block" href="#" style="text-decoration: none;color:white;">Features</a>
            <a class="py-2 d-none d-md-inline-block" href="#" style="text-decoration: none;color:white;">Enterprise</a>
            <a class="py-2 d-none d-md-inline-block" href="#" style="text-decoration: none;color:white;">Support</a>
            <a class="py-2 d-none d-md-inline-block" href="#" style="text-decoration: none;color:white;">Pricing</a>
            <a class="py-2 d-none d-md-inline-block" href="/cart" style="text-decoration: none;color:white;">Cart</a>

            {{with .Name}}
            <a class="py-2 d-none d-md-inline-block" href="/users/{{$id}}" style="text-decoration: none;color:white;">{{.}}</a>
            <a class="py-2 d-none d-md-inline-block" href="/logout" style="text-decoration: none;color:white;">Logout</a>
            {{else}}
            <a class="py-2 d-none d-md-inline-block" href="/login" style="text-decoration: none;color:white;">Login</a>
            {{end}}
        </div>
    </nav>
{{end}}
